* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
  

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background: #4d7fca;
}
}

/* General Styles */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  letter-spacing: -0.05em;
  color: var(--color-primary)
}

h1 {
  font-size: 48px;
  line-height: 110%;
}

h2 {
  font-size: 32px;
  line-height: 110%;
}

h3 {
  font-size: 24px;
  line-height: 29px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-secondary);
}

/* layout */

.container {
  width: 100%;
  display: ;
}

header,
.summary,
.summary,
.tips,
.limits {
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
}

header {
  grid-template-rows: repeat(12, 1fr);
  height: 1120px;
}

.bordered {
  border-bottom: 2px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content {
  grid-column: 1 / 13;
  grid-row: 1 / 8;
  background: linear-gradient(290.1deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  padding: 32px 24px 0 24px;
}

.header-content svg {
  width: 40px;
  height: 40px;
}

form {
  grid-column: 2 / 12;
  grid-row: 6 / 13;
}

img {
  grid-column: span 12;
  justify-self: center;
  align-self: center;
  margin-bottom: 48px;
}

.summary-text {
  grid-column: 1 / 12;
  justify-self: center;
  align-self: center;
  overflow-wrap: break-word;
}

.eating {
  grid-column: span 12;
}

.exercise {
  grid-column: span 12;
}

.sleep {
  grid-column: span 12;
}

.limits-text {
  grid-column: span 12;
}

.gender {
  grid-column: span 12;
}

.age {
  grid-column: span 12;
}

.muscle {
  grid-column: span 12;
}

.pregnancy {
  grid-column: span 12;
}

.race {
  grid-column: span 12;
}

/* Elements Specific Styles */

/* Header Styles */

.header-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-content h1, 
.header-content p {
  max-width: 400px;
}

/* Custom radio styles */

/* Hide the default radio */
input[type="radio"] {
  all: unset;
}

/* Styles the custom radio unchecked state */
input[type="radio"] {
  background-color: var(--color-white);
  margin: 0;
  font: inherit;
  color: currentColor;
  min-width: 31px;
  min-height: 31px;
  width: 31px;
  height: 31px;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  /* this aligns custom radio with hidden native one */
  display: grid;
  place-content: center;
}

input [type="radio"]:checked {
  background-color: var(--color-radio);
}

input[type="radio"]:hover {
  cursor: pointer;
  border-color: var(--color-blue);
}


/* Create a before element to be our custom radio when checked  */
input[type="radio"]::before {
  content: "";
  width: 15PX;
  height: 15px;
  border-radius: 50%;
  transform: scale(0);
  transform: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-blue);
}

input [type="radio"]:checked::before {
  transform: scale(1);
}

.units-container label {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color:var(--color-primary);
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

