@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&family=Inter:wght@400;600&display=swap');
@import url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);

:root {
  --primary: #253347;
  --secondary: #5e6e85;
  --border: #d8e2e7;
  --white: #fff;
  --radio: rgba(52, 95, 246, 0.15);
  --blue: #345ff6; 
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background: var(--white);
  display: flex;
  flex-direction: column;
}

/* General Styles */

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary)
}

p {
  font-weight: 400;
  color: var(--secondary);
}

/* layout */

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(290.1deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  padding: 5% 10% 18%;
  gap: 8rem;
  margin-left: 40px;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header-text h1 {
  width: 38rem;
  font-size: 4.7rem;
  line-height: 5.5rem;
  margin-bottom: 0;
}

.header-text p {
  width: 35rem;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.7rem;
}

.bmi-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}

.bmi-card {
  width: 35rem;
  height: auto;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 3px 1px 3px var(--border);
  position: absolute;
  top: 25%;
  left: -40%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bmi-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.units-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.metric input,
.imperial input {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: .1rem solid var(--border);
  margin-right: 1rem;
}

.metric label,
.imperial label {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: capitalize;
  position: absolute;
}

.bmi-measurement {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.height,
.weight {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.height label,
.weight label {
  color: var(--secondary);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.height-input,
.weight-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border);
  height: 3.8rem;
  border-radius: .6rem;
  padding: 1rem;
}

.height-input input,
.weight-input input {
  width: 9.5rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--secondary);
  opacity: 0.6;
}

.height-input p,
.weight-input p {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 600;
}

.results-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background: var(--blue);
  padding: 2rem;
  border-radius: 0px 100px 100px 0px;
}

.results-card h4 {
  color: var(--white);
  font-size: 2rem;
}

.results-card p {
  color: var(--white);
  opacity: 0.9;
}

input [type="radio"]:checked {
  background-color: var(--radio);
}

input[type="radio"]:hover {
  cursor: pointer;
  border-color: var(--blue);
}

input[type="radio"]::before {
  content: "";
  width: 15PX;
  height: 15px;
  border-radius: 50%;
  transform: scale(0);
  transform: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--blue);
}

input [type="radio"]:checked::before {
  transform: scale(1);
}

.summary {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 10rem;
  padding: 5% 8%;
}

.summary-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.summary-text h2 {
  font-size: 4.5rem;
  margin-bottom: 0;
}

.summary-text p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: justify;
}

.tips {
  width: 98%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  padding: 5% 8%;
  background: linear-gradient(290.1deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 1.5rem 1.5rem 0px;
}

.tips-card,
.tips-text  {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tips-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.tips-text p {
  width: 420px;
  font-size: 1.2rem;
  line-height: 2rem;
}
/* header,
.summary,
.summary,
.tips,
.limits {
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
}

header {
  grid-template-rows: repeat(12, 1fr);
  height: 1120px;
}

.bordered {
  border-bottom: 2px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content {
  grid-column: 1 / 13;
  grid-row: 1 / 8;
  background: linear-gradient(290.1deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  padding: 32px 24px 0 24px;
}

.header-content svg {
  width: 40px;
  height: 40px;
}

form {
  grid-column: 2 / 12;
  grid-row: 6 / 13;
}

img {
  grid-column: span 12;
  justify-self: center;
  align-self: center;
  margin-bottom: 48px;
}

.summary-text {
  grid-column: 1 / 12;
  justify-self: center;
  align-self: center;
  overflow-wrap: break-word;
}

.eating {
  grid-column: span 12;
}

.exercise {
  grid-column: span 12;
}

.sleep {
  grid-column: span 12;
}

.limits-text {
  grid-column: span 12;
}

.gender {
  grid-column: span 12;
}

.age {
  grid-column: span 12;
}

.muscle {
  grid-column: span 12;
}

.pregnancy {
  grid-column: span 12;
}

.race {
  grid-column: span 12;
} */

/* Elements Specific Styles */

/* Header Styles */

/* .header-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-content h1, 
.header-content p {
  max-width: 400px;
} */

/* Custom radio styles */

/* Hide the default radio */
/* input[type="radio"] {
  all: unset;
} */

/* Styles the custom radio unchecked state */
/* input[type="radio"] {
  background-color: var(--color-white);
  margin: 0;
  font: inherit;
  color: currentColor;
  min-width: 31px;
  min-height: 31px;
  width: 31px;
  height: 31px;
  border: 1px solid var(--color-border);
  border-radius: 50%; */
  /* this aligns custom radio with hidden native one */
  /* display: grid;
  place-content: center;
}

input [type="radio"]:checked {
  background-color: var(--color-radio);
}

input[type="radio"]:hover {
  cursor: pointer;
  border-color: var(--color-blue);
} */


/* Create a before element to be our custom radio when checked  */
/* input[type="radio"]::before {
  content: "";
  width: 15PX;
  height: 15px;
  border-radius: 50%;
  transform: scale(0);
  transform: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-blue);
}

input [type="radio"]:checked::before {
  transform: scale(1);
}

.units-container label {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color:var(--color-primary);
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
} */

